* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1d1f21, #373737);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    padding: 1rem;
}

.navbar {
    width: 100%;
    background: #1f1f1f;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #00e7ff;
}

.navbar .logo span {
    color: #6fdd5f;
}

.form-container {
    margin-top: 6rem;
    width: 100%;
    max-width: 600px;
    background: #2d2f32;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 231, 255, 0.4);
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #6fdd5f;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-size: 1.1rem;
    color: #ddd;
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #555;
    border-radius: 10px;
    width: 100%;
    background: #444;
    color: #fff;
    outline: none;
}

button {
    background: #00e7ff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: fit-content; /* Adjusts width to fit content */
}

button:hover {
    background: #6fdd5f;
}